<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add book</title>
    <link rel="stylesheet" href="" th:href="@{/css/create-form.css}"/>
</head>

<body class="body_hide">
<ul>
    <li><a style="color: #ffffff;" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
    </a></li>
</ul>
<form method="post" action="/create">
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Add your favorite book!</div>
        <div class="input-container ic1">
            <input id="firstname" class="input" type="text" name="name" placeholder=" "/>
            <div class="cut"></div>
            <label for="firstname" class="placeholder">Book name</label>
        </div>
        <div class="input-container ic2">
            <input id="lastname" class="input" type="text" name="author" placeholder=" "/>
            <div class="cut"></div>
            <label for="lastname" class="placeholder">Book author</label>
        </div>
        <div class="input-container ic2">
            <input id="email" class="input" type="text" name="pages" placeholder=" "/>
            <div class="cut-short cut"></div>
            <label for="email" class="placeholder">Number of pages</label>
        </div>
        <button type="text" class="submit">submit</button>
    </div>
</form>
<script src="" th:src="@{/js/hide.js}"></script>
</body>

</html>